python-http-client
2captcha-python
beautifulsoup4
pyinstaller
pylibcheck
pyperclip
pyautogui
pypiwin32
websocket
requests
selenium
keyboard
colorama
discord
asyncio
easygui
discum
colour
pillow
PyNaCl
psutil
emoji
httpx
tqdm

